html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* задаем высоту контейнера, чтобы он заполнял все доступное пространство */
}

.text-block {
  text-align: center; /* выравниваем текст по центру блока */
}

button {
  margin-right: 50px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.05); }
	100% { transform: scale(1); }
}

.btn-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	margin: auto;
	margin-top: 20px;
}

.btn-group button {
	padding: 12px 24px;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	background-color: #007bff;
	border: none;
	cursor: pointer;
}

#result-text {
	display: none;
	text-align: center;
	font-size: 36px;
	color: #007bff;
	margin-top: 20px;
}
